@page
@model AgendamientoIPS.App.Frontend.Pages.Pacientes.DetailsModel
@{
    ViewData["Title"] = "Detalles del Paciente";
}
<br>
<h1>Detalles del Paciente</h1>
<table class="table table-borderless table-secondary">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.paciente.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Primer Apellido</th>
        <td>@Model.paciente.PrimerApellido</td>
    </tr>
    <tr>
        <th scope="col">Segundo Apellido</th>
        <td>@Model.paciente.SegundoApellido</td>
    </tr>
    <tr>
        <th scope="col">Teléfono</th>
        <td>@Model.paciente.Telefono</td>
    </tr>
    <tr>
        <th scope="col">Dirección</th>
        <td>@Model.paciente.Direccion</td>
    </tr>
    <tr>
        <th scope="col">Correo Electrónico</th>
        <td>@Model.paciente.Correo</td>
    </tr>
    <tr>
        <th scope="col">EPS</th>
        <td>@Model.paciente.EPS</td>
    </tr>
    <tr>
        <th scope="col">Encuesta</th>
        @if (Model.paciente.Encuesta == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddEncuesta" asp-route-id="@Model.paciente.Id">Asignar Encuesta</a>
            </td>
        }
        else
        {
            <td>@Model.paciente.Encuesta.Id</td>
        }
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>