@page
@model AgendamientoIPS.App.Frontend.Pages.Facturas.IndexModel
@{
    ViewData["Title"] = "Facturación";
}
<br>
<table style="width: 100%;">
    <tr style="width: 100%;">
        <td style="width: 80%;"><h1>Facturación</h1></td>
        <td style="width: 20%;" text-align="right";>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-page="./Create">Nueva Factura</a>
            }
        </td>
    </tr>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Número de Factura</th>
            <th scope="col">Fecha de Factura</th>
            <th scope="col">Concepto</th>
            <!--<th scope="col">Convenio</th>-->
            <th style="width: 20%;" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var factura in Model.facturas)
        {
            <tr>
                <td>@factura.NumFactura</td>
                <td>@factura.FechaFactura.ToString("dd/MM/yyyy")</td>
                <td>@factura.Concepto</td>
                <!--<td>@factura.IdConvenio</td>-->
                <td style="width: 20%;">
                    <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@factura.Id">Detalle</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-warning btn-sm" asp-page="./Edit" asp-route-id="@factura.Id">Editar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

