@page
@model AgendamientoIPS.App.Frontend.Pages.Citas.DetailsModel
@{
    ViewData["Title"] = "Detalles de Cita";
}
<br>
<h1>Detalles de Cita</h1>
<table class="table table-borderless table-secondary">
    <tr>
        <th scope="col">Número de Cita</th>
        <td>@Model.cita.NumCita</td>
    </tr>
    <tr>
        <th scope="col">Tipo de Cita</th>
        <td>@Model.cita.TipoCita</td>
    </tr>
    <tr>
        <th scope="col">Especialidad</th>
        <td>@Model.cita.Especialidad</td>
    </tr>
    <tr>
        <th scope="col">Fecha de la Cita</th>
        <td>@Model.cita.Fecha.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th scope="col">Hora de la Cita</th>
        <td>@Model.cita.Hora</td>
    </tr>
    <tr>
        <th scope="col">Médico Asignado</th>
        <td>@Model.cita.IdMedico</td>
    </tr>
    <tr>
        <th scope="col">Médico Primer Apellido</th>
        <td>@Model.cita.IdMedico</td>
    </tr>
    <tr>
        <th scope="col">Médico Segundo Apellido</th>
        <td>@Model.cita.IdMedico</td>
    </tr>
    <tr>
        <th scope="col">Especialidad del Médico</th>
        <td>@Model.cita.IdMedico</td>
    </tr>
    <tr>
        <th scope="col">Tarjeta Profesional</th>
        <td>@Model.cita.IdMedico</td>
    </tr>
    <tr>
        <th scope="col">Paciente</th>
        <td>@Model.cita.IdPaciente</td>
    </tr>
    <tr>
        <th scope="col">Paciente Primer Apellido</th>
        <td>@Model.cita.IdPaciente</td>
    </tr>
    <tr>
        <th scope="col">Paciente Segundo Apellido</th>
        <td>@Model.cita.IdPaciente</td>
    </tr>
    <tr>
        <th scope="col">Dirección</th>
        <td>@Model.cita.IdPaciente</td>
    </tr>
    <tr>
        <th scope="col">Teléfono</th>
        <td>@Model.cita.IdPaciente</td>
    </tr>
    <tr>
        <th scope="col">Correo Electrónico</th>
        <td>@Model.cita.IdPaciente</td>
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
