@page
@model AgendamientoIPS.App.Frontend.Pages.Citas.DetailsModel
@{
    ViewData["Title"] = "Detalles de Cita";
}
<br>
<h1>Detalles de Cita</h1>
<table class="table table-borderless table-secondary">
    <tr>
        <th scope="col">Número de Cita</th>
        <td>@Model.cita.NumCita</td>
    </tr>
    <tr>
        <th scope="col">Tipo de Cita</th>
        <td>@Model.cita.TipoCita</td>
    </tr>
    <tr>
        <th scope="col">Especialidad</th>
        <td>@Model.cita.Especialidad</td>
    </tr>
    <tr>
        <th scope="col">Fecha de la Cita</th>
        <td>@Model.cita.Fecha.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th scope="col">Hora de la Cita</th>
        <td>@Model.cita.Hora</td>
    </tr>
    <tr>
        <th scope="col">Médico Asignado</th>
        @if (Model.cita.IdMedico == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddMedico" asp-route-id="@Model.cita.Id">Asignar Médico</a>
            </td>
        }
        else
        {
            <td>@Model.cita.IdMedico.Nombre</td>
        }
    </tr>
    <tr>
        <th scope="col">Médico Primer Apellido</th>
        @if (Model.cita.IdMedico == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdMedico.PrimerApellido</td>
        }
    </tr>
    <tr>
        <th scope="col">Médico Segundo Apellido</th>
        @if (Model.cita.IdMedico == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdMedico.SegundoApellido</td>
        }
    </tr>
    <tr>
        <th scope="col">Especialidad del Médico</th>
        @if (Model.cita.IdMedico == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdMedico.Especialidad</td>
        }
    </tr>
    <tr>
        <th scope="col">Tarjeta Profesional</th>
        @if (Model.cita.IdMedico == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdMedico.TarjetaProfesional</td>
        }
    </tr>
    <tr>
        <th scope="col">Paciente</th>
        @if (Model.cita.IdPaciente == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddPaciente" asp-route-id="@Model.cita.Id">Asignar Paciente</a>
            </td>
        }
        else
        {
            <td>@Model.cita.IdPaciente.Nombre</td>
        }
    </tr>
    <tr>
        <th scope="col">Paciente Primer Apellido</th>
        @if (Model.cita.IdPaciente == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdPaciente.PrimerApellido</td>
        }
    </tr>
    <tr>
        <th scope="col">Paciente Segundo Apellido</th>
        @if (Model.cita.IdPaciente == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdPaciente.SegundoApellido</td>
        }
    </tr>
    <tr>
        <th scope="col">Dirección</th>
        @if (Model.cita.IdPaciente == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdPaciente.Direccion</td>
        }
    </tr>
    <tr>
        <th scope="col">Teléfono</th>
        @if (Model.cita.IdPaciente == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdPaciente.Telefono</td>
        }
    </tr>
    <tr>
        <th scope="col">Correo Electrónico</th>
        @if (Model.cita.IdPaciente == null)
        {
            <td></td>
        }
        else
        {
            <td>@Model.cita.IdPaciente.Correo</td>
        }
    </tr>
    <tr>
        <th scope="col">Sede</th>
        @if (Model.cita.IdSede == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddSede" asp-route-id="@Model.cita.Id">Asignar Sede</a>
            </td> 
        }
        else
        {
            <td>@Model.cita.IdSede.NombreSede @Model.cita.IdSede.Ciudad</td>
        }
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
